body{
	margin: 20px;
	background-image: linear-gradient(-193deg, black, #4e0303);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto;
}

img.lifeIcon{
	width: auto;
	height: 3vh;
}

img.smallLifeIcon{
	width: auto;
	height: 2vh;
}

span.spanNick{
	font-style: italic;
}

div.whiteColor{
	color: white;
}

hr.lineBreak{
	border-color: white;
	border-width: 1px;
}

div.nameCell, div.locationCell{
	color: #f54e4e;
}

div.nameCell:hover, span.locationNpcLink:hover{
	color: #f54e4e;
	text-decoration: underline;
	cursor: pointer;
}

a.navbar-brand, a.nav-link{
	color: white;
	font-size: xx-large;
    font-family: 'Alegreya Sans SC';
}

a.navbar-brand:hover, a.nav-link:hover{
	color: #ff0000;
}

table{
	border-collapse: collapse;
}

table td, table th{
	border: 1px solid black;
}

div.scrollableDiv{
	max-height: 80vh;
	max-width: 56vw;
	overflow-y: scroll;
	overflow-x: hidden;
}

div.npcInfo{
	max-height: 80vh;
	max-width: 34vw;
}

div.spacedRow{
	margin-right: 0px;
	margin-left: 0px;
}

div.container{
	max-width: 90vw;
}

div.selectedNpcTitle{
	color: #f54e4e;
	font-size: xx-large;
}

svg.personBody{
	position: absolute;
	left: 1vw;
	top: 9.6vh;
	height: auto;
	width: 7vw;
	stroke: black;
	fill: #504d4d;
}

svg.personEyesCenter{
	position: absolute;	
	left: 3vw;
	top: 5.4vh;
	height: auto;
	width: 3vw;
	stroke: black;
}

svg.personEyesWhite{
	position: absolute;	
	left: 3vw;
	top: 5.4vh;
	height: auto;
	width: 3vw;
	stroke: black;
	fill: white;
}

svg.personEyesContour{
	position: absolute;	
	left: 3vw;
	top: 5.4vh;
	height: auto;
	width: 3vw;
	stroke: black;
}

svg.personFemaleHair{
	position: absolute;	
	left: -0.7vw;
	top: 0;
	width: 10vw;
	height: auto;
	stroke: black;
}

svg.personMaleHair{
	position: absolute;	
	left: 1.5vw;
	top: 1.3vh;
	width: 5.9vw;
	height: auto;
	stroke: black;
}

svg.personHead{
	position: absolute;	
	left: 2.4vw;
	top: 2.7vh;
	width: 4vw;
	height: auto;
	stroke: black;
}

div.portrait{
	height: 18vh;
}

table.npcListTable td{
	border-color: white;
}