div.logoBlock{
	margin-bottom: 70px;
}

div.informationTableArea span.bistate img{
	height: 20px;
}

div.leftBarMenuLinkBlock{
	margin-bottom: 18px;
}

div.leftBarMenuLinkBlock:hover h1{
	text-decoration: underline;
}

div.leftBarMenuLinkBlock h1.leftBarMenuForbiddenLinkImg{
	text-decoration: line-through;
}

img.npcInformationSaveButtonLoader{
	width: 40px;
}

span.sickIcon img{
	width: 20px;	
}

img.logoImg{
	height: 40px;
}

img.leftBarMenuLinkImg{
	height: 30px;
}

body.appBody{
	font-family: 'Times New Roman';
}

h1.logoText{
	font-size: x-large;
}

h1.leftBarMenuLinkImg{
	font-size: x-small;
}

.leftBarMenuItem{
	margin-left: auto;
	margin-right: auto;
}

div.darkTheme div.background{
	background-color: #313030;
}

div.background{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

div.leftBarMenu{
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	color: white;
	background-color: #4C0813;
	text-align: center;
	left: 0;
	width: 60px;
}

div.mainArea{
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 65px;
}

div.details{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 1250px;
	width: 280px;
	padding-top: 20px;
	color: #4C0813;
	overflow-y: auto;
	height: 100%;
}

div.mainAreaNpc,
div.mainAreaBusiness,
div.mainAreaConfig,
div.mainAreaNight{
	height: 100%;
	width: 100%;
}

div.darkTheme div.mainAreaNpcFilterForm, div.mainAreaBusinessFilterForm{
	background-color: #313030;
}

div.darkTheme div.leftBarMenu{
	background-color: #1b0e10;
}

div.darkTheme div.mainAreaNpcListSection table.npcTable .npcTableDataRowEven,
div.darkTheme tr.businessTableDataRowPeriod tr.npcTableDataRowEven,
div.darkTheme table.updateRessonanceTableDiv tr
{
	background-color: #484646;
	color: white;
	border-color: #1b0e10;
	border-right-color: #1b0e10;
}

div.darkTheme div.mainAreaNpcFilterForm, 
div.darkTheme div.mainAreaBusinessFilterForm,
div.darkTheme div.mainAreaNpcListSection, 
div.darkTheme div.mainAreaBusinessListSection,
div.darkTheme table.npcTable tr.npcTableHeaderRow th,
div.darkTheme table.businessTable tr.businessTableHeaderRow th,
div.darkTheme div.mainAreaNpcListSection table.npcTable .npcTableDataRowOdd,
div.darkTheme div.mainAreaConfig,
div.darkTheme div.mainAreaNight,
div.darkTheme div.mainAreaCharacterSheet,
div.darkTheme div.mainAreaNpcListSection div.npcTableContainer,
div.darkTheme tr.businessTableDataRowPeriod, 
div.darkTheme div.npcDetailsPortrait, 
div.darkTheme table.informationTable td, 
div.darkTheme table.updateRessonanceTable td, 
div.darkTheme div.details{
	background-color: #313030;
	color: white;
	border-color: #1b0e10;
	border-right-color: #1b0e10;
}

div.mainAreaNpcFilterForm, div.mainAreaBusinessFilterForm{
	padding-top: 100px;
	width: 200px;
	height: 100%;
	color: #4C0813;
	background-color: white;
	border-right-color: #4C0813;
	border-right-style: solid;
	border-right-width: 3px;
}

div.mainAreaNpcListSection, div.mainAreaBusinessListSection{
	left: 275px;
	position: fixed;
	top: 0;
	width: 950px;
	height: 100%;
	color: #4C0813;
	background-color: white;
	border-right-color: #4C0813;
	border-right-style: solid;
	border-right-width: 3px;
}

div.mainAreaConfig, div.mainAreaNight, div.mainAreaCharacterSheet{
	padding-left: 40px;
	padding-top: 20px;
	color: #4C0813;
	width: 950px;
	height: 100%;
}

span.badge{
	margin-left: 20px;
	position: absolute;
	border-radius: 1.25rem;
}

span.clearWarningsButton{
	color: #4C0813;
}

div.updateRessonanceTableDiv{
	height: 30%;
	overflow-y: auto;	
}

span.clearWarningsButton:hover{
	text-decoration: underline;
}

.npcFilterInput, .businessFilterInput{
	width: 97%;
}

table.npcTable{
	table-layout: fixed;
	width: 99%;
	border-collapse: separate;
	border-spacing: 0px;
}

table.characterSheetSeedsTable{
	font-size: xx-small;
}

table.mainAreaCharacterSheetTable td.characterSheetLabelTd{
	width: 130px;
}

table.mainAreaCharacterSheetTable td.characterSheetPortrait div.portrait{
	position: relative;
}

table.businessTable, 
table.mainAreaCharacterSheetTable, 
table.characterSheetSeedsTable{
	table-layout: fixed;
	width: 99%;
	border-collapse: collapse;
	border-spacing: 0px;	
}

table.npcTable tr.npcTableDataRow,
table.businessTable tr.businessTableDataRow{
	line-height: 30px;
}

table.npcTable tr.npcTableDataRow:hover, 
table.businessTable tr.businessTableDataRow:hover{
	text-shadow: 0 0 10px black;
	cursor:	pointer;
}

div.darkTheme table.mainAreaCharacterSheetTable td{
	border-color: #1b0e10;
}

table.mainAreaCharacterSheetTable td{
	border-style: solid;
	border-width: 3px;
	border-color: #4C0813;
}

table.updateRessonanceTableDiv tr,
table.npcTable tr.npcTableHeaderRow th,
table.businessTable tr.businessTableHeaderRow th{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-color: #4C0813;
	background-color: white;
	position: sticky;
	top: 0;
}

table.npcTable tr.npcTableHeaderRow th.clickable,
table.businessTable tr.businessTableHeaderRow th.clickable,
span.characterSheetDeleteOccupationButton.clickable,
span.characterSheetDeleteNpcButton.clickable{
	cursor:	pointer;
}

.npcTableColumnAge, 
.npcTableColumnHealth, 
.npcTableColumnGender, 
.npcTableColumnRessonance, 
.npcTableColumnN1, 
.npcTableColumnN2, 
.npcTableColumnN3,
.npcTableColumnNationality
.npcTableColumnNeighbourhood{
	text-align: center;
}

td.npcTableColumnHealth{
	line-height: 14px;
}

.npcTableColumn{
	width: 100px;
}

.npcTableColumnId,
.businessTableColumnId,
.businessTableColumnNeighbourhood{
	width: 30px;
}

.npcTableColumnName{
	width: 200px;
}

.npcDead{
	text-decoration: line-through;
}

img.healthIcon{
	height: 14px;
}

img.deathIcon{
	height: 20px;
}

img.moveIcon{
	height: 18px;	
}

img.moveIcon:hover{
	cursor: pointer;
}

.npcTableColumnNationality{
	width: 60px;	
}

.npcTableColumnGender, 
.npcTableColumnAge, 
.npcTableColumnHealth,
.npcTableColumnNeighbourhood{
	width: 30px;
}

td.npcTableColumn{

}

th.npcTableColumm{

}

div.mainAreaNpcListSection div.npcTableContainer{
	overflow-y: auto;
	height: 100%;
}

div.businessTableContainer{
	overflow-y: auto;
	height: 100%;
}

div.mainAreaNpcListSection table.npcTable .npcTableDataRowEven{
	background-color: #ffaeae;
}

table.npcTable .npcTableDataRowOdd{
	
}

div.businessTableContainer tbody{

}

svg.personBody{
	position: absolute;
	left: 1vw;
	top: 9.6vh;
	height: auto;
	width: 7vw;
	stroke: black;
	fill: #504d4d;
}

svg.personEyesCenter{
	position: absolute;	
	left: 3vw;
	top: 5.4vh;
	height: auto;
	width: 3vw;
	stroke: black;
}

svg.personEyesWhite{
	position: absolute;	
	left: 3vw;
	top: 5.4vh;
	height: auto;
	width: 3vw;
	stroke: black;
	fill: white;
}

svg.personEyesContour{
	position: absolute;	
	left: 3vw;
	top: 5.4vh;
	height: auto;
	width: 3vw;
	stroke: black;
}

svg.personFemaleHair{
	position: absolute;	
	left: -0.7vw;
	top: 0;
	width: 10vw;
	height: auto;
	stroke: black;
}

svg.personMaleHair{
	position: absolute;	
	left: 1.5vw;
	top: 1.3vh;
	width: 5.9vw;
	height: auto;
	stroke: black;
}

svg.personHead{
	position: absolute;	
	left: 2.4vw;
	top: 2.7vh;
	width: 4vw;
	height: auto;
	stroke: black;
}

div.portrait{
	height: 18vh;
}

div.npcDetailsPortrait{
	top: 6vh;
    position: absolute;
    border-color: #4C0813;
    border-style: solid;
    border-width: 3px;
    width: 18vh;
}

div.npcDetailsInformation{
	margin-top: 21vh;
}

table.informationTable{

}

div.mainAreaCharacterSheet div.scrollableDiv{
	height: 90%;
}

div.scrollableDiv{
	height: 200px;
	overflow-y: auto;
}

textarea.npcInformationTextArea, textarea.characterSheetTextArea{
	width: 100%;
	height: 70px;
}

table.informationTable td,
table.updateRessonanceTable td{
    border-color: #4C0813;
    border-width: 2px;
    border-style: solid;
}

div.informationTableArea{
    overflow-y: auto;
}

span.clickableLink:hover{
	cursor: pointer;
	text-decoration: underline;
}

span.cleanFilterButtton:hover{
	cursor: pointer;
}

tr.businessTableDataRowPeriod{
    border-color: #4C0813;
    border-width: 2px;
    border-style: solid;
}

tr.businessTableDataRowPeriod tr.npcTableDataRowEven{
	background-color: #ffaeae;	
}

span.tristate img{
	height: 20px;
	cursor: pointer;
}

span.clanIcon img{
	height: 20px;
}